@{
    ViewBag.Title = "My Contacts";
}

<hgroup>
    <h2>@ViewBag.Title</h2>
    <label for="q" style="display: inline">Search:</label>
    <input id="q" name="q" type="search" autofocus="true" />
</hgroup>

<div id="ContactDefList" class="row"></div>
@Scripts.Render("~//bundles/jquery")
@Scripts.Render("~/bundles/jquerycolor")
@Scripts.Render("~/Scripts/jquery.signalR-1.1.2.js")
@Scripts.Render("~/signalR/hubs")
@Scripts.Render("~/Scripts/Contacts.Observable.SignalR.js")